body {
  background-color: #005b96;
  font-family: 'Josefin Sans', sans-serif;
}

.latlong {
  font-family: 'Raleway', sans-serif;
  color: white;
}

.pagehead {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: white;
}

#headerspace {
  padding-top: 70px;
}

#navbar {
  background-color: #8b9dc3;
}

.therm {
  margin-left: 700px;
  padding-bottom: 7px;
}

.therm:hover,
.therm:active {
  /*background: url('../images/thermometer.png')
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;*/
  opacity: 0.6; filter: alpha(opacity=30);
}
