body {
  background-color: lightblue;
  position: relative;
  background-image: url("../images/pexels-photo.jpg");
  background-repeat:no-repeat;
  background-size:100% 100vh;

}

.welcome {
  color: #fff;
  text-align: center;
  padding-top: 180px;
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
}
.ghost-button{
  display: inline-block;
  width: 150px;
  padding: 5px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}

.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

input[type="text"]{
  background: #fff;
  opacity: 0.6;
  border: 2px solid #fff;
}

input[type="text"]:hover,
input[type="text"]:active {
  opacity: 0.95;
}

.animate-enter {
  -webkit-transition: 4s linear all; /* Chrome */
	transition: 4s linear all;
	opacity: 0;
}

.animate-enter.animate-enter-active {
	opacity: 1;
}

#foot {
padding-top: 100px;
height: 10px;
}

#foot p {
  text-align: center;
  color: white;
}
