<link rel="stylesheet" href="css/main.css">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <h3 class="latlong">Latitude: {{dailyData.latitude}}, Longitude: {{dailyData.longitude}}</h3>
    </div>
  </div>
  <div class="row" ng-repeat='card in dailyData.daily'>
    <div class="col-md-6 col-md-offset-3 well">
      <div class="col-md-4">
        <img ng-src="images/{{card.icon}}.png" alt="card.icon" style='width: 100px;'>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4>High: {{card.tempMax}}&deg;F</h4>
          <h4>Low: {{card.tempMin}}&deg;F</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4>Humidity: {{card.humidity * 100 | number:0}} % </h4>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <h4>Precipitation Probability: {{card.precipProb * 100 | number:0}}%</h4>
        </div>
      </div>
    </div>
  </div>
</div>
